@import url('./animations.scss');

.App {
  display: flex;
  flex-direction: column;

  height: 100vh;

  & > main {
    margin: 1em auto;

    width: calc(100% - 2em);
    max-width: min(1000px, 100%);

    & > aside {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      gap: 1em;

      max-width: 350px;
    }

    .flex {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1em;

      &.col {
        flex-direction: column;
      }

      &.row {
        flex-direction: row;
      }

      &.text-center {
        text-align: center;
      }

      &.left {
        justify-content: left;
      }

      &.top {
        align-items: baseline;
      }

      &.space-between {
        justify-content: space-between;
      }

      &.space-around {
        justify-content: space-around;
      }
    }

    .page-header {
      display: flex;
      padding: 0 1em 1em;

      & > * {
        display: flex;
        align-items: center;
        gap: 0.5em;
      }

      &.center {
        justify-content: center;
      }

      & > aside {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 0.5em;

        margin-left: auto;
        text-align: center;

        & > div {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}
