@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

:root {
  --ui-monochrome-01-hex: #16161c;
  --ui-monochrome-01-rgb: 22, 22, 28;

  --ui-monochrome-02-hex: #1a1c23;
  --ui-monochrome-02-rgb: 26, 28, 35;

  --ui-monochrome-03-hex: #1c1e26;
  --ui-monochrome-03-rgb: 28, 30, 38;

  --ui-monochrome-04-hex: #232530;
  --ui-monochrome-04-rgb: 35, 37, 48;

  --ui-monochrome-05-hex: #2e303e;
  --ui-monochrome-05-rgb: 46, 48, 62;

  --ui-monochrome-06-hex: #6c6f93;
  --ui-monochrome-06-rgb: 108, 111, 147;

  --ui-dark-pink: #E9436F;
  --ui-light-pink: #E95379;
  --ui-red: #F43E5C;
  --ui-light-green: #09F7A0;
  --ui-dark-green: #27D796;
  --ui-blue: #21BFC2;
  --ui-gold: #FAB28E;

  --syntax-purple: #B877DB;
  --syntax-blue: #25B2BC;
  --syntax-red: #E95678;
  --syntax-orange: #F09383;
  --syntax-gold: #FAB795;
  --syntax-yellow: #FAC29A;

  --syntax-grey: #D3D3D3;
  --syntax-white: #fffc;
  --syntax-black: #000c;
}

html {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--syntax-white);

  background-color: rgb(var(--ui-monochrome-01-rgb));
  background: linear-gradient(
    180deg,
    rgb(var(--ui-monochrome-01-rgb)) 0%,
    rgb(var(--ui-monochrome-02-rgb)) 25%,
    rgb(var(--ui-monochrome-03-rgb)) 50%,
    rgb(var(--ui-monochrome-02-rgb)) 75%,
    rgb(var(--ui-monochrome-01-rgb)) 100%
  );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 100ms ease-in-out;

  border-bottom: 1px solid var(--syntax-orange);
  color: var(--syntax-orange);

  &:hover {
    border-color: var(--syntax-yellow);
    color: var(--syntax-yellow);
  }
}

table {
  border-spacing: 0.5em;
  border-radius: 0.5em;

  &.styled {
    background-color: var(--ui-monochrome-03-hex);

    tr {
      &:nth-child(odd) {
        td {
          background-color: var(--ui-monochrome-05-hex);
        }

      }
      td {
        background-color: var(--ui-monochrome-04-hex);
        border-radius: 0.5em;

        padding: 2px;
      }
    }
  }

  &.text-center {
    * {
      text-align: center;
    }
  }

  &.wide {
    width: 80%;
    max-width: 800px;

    td {
      width: 130px;
    }
  }

  td {
    width: 80px;
  }
}

.separator {
  display: flex;

  &::before {
    background-color: var(--ui-gold);
    background-image: linear-gradient(left, rgb(var(--ui-monochrome-01-rgb)) 2%, var(--ui-gold) 50%);
    background-image: -o-linear-gradient(left,
        rgb(var(--ui-monochrome-01-rgb)) 2%,
        var(--ui-gold) 50%);
    background-image: -moz-linear-gradient(left,
        rgb(var(--ui-monochrome-01-rgb)) 2%,
        var(--ui-gold) 50%);
    background-image: -webkit-linear-gradient(left,
        rgb(var(--ui-monochrome-01-rgb)) 2%,
        var(--ui-gold) 50%);
    background-image: -ms-linear-gradient(left,
        rgb(var(--ui-monochrome-01-rgb)) 2%,
        var(--ui-gold) 50%);
    background-image: -webkit-gradient(linear,
        left bottom,
        right bottom,
        color-stop(0.02, rgb(var(--ui-monochrome-01-rgb))),
        color-stop(0.5, var(--ui-gold)));

    content: '';
    display: block;

    transform: translateY(12px);

    height: 1px;

    min-width: 60px;
    width: 60px;
    flex: 60px;
  }

  &::after {
    background-color: var(--ui-gold);
    background-image: linear-gradient(right, rgb(var(--ui-monochrome-01-rgb)) 2%, var(--ui-gold) 50%);
    background-image: -o-linear-gradient(right,
        rgb(var(--ui-monochrome-01-rgb)) 2%,
        var(--ui-gold) 50%);
    background-image: -moz-linear-gradient(right,
        rgb(var(--ui-monochrome-01-rgb)) 2%,
        var(--ui-gold) 50%);
    background-image: -webkit-linear-gradient(right,
        rgb(var(--ui-monochrome-01-rgb)) 2%,
        var(--ui-gold) 50%);
    background-image: -ms-linear-gradient(right,
        rgb(var(--ui-monochrome-01-rgb)) 2%,
        var(--ui-gold) 50%);
    background-image: -webkit-gradient(linear,
        right bottom,
        left bottom,
        color-stop(0.02, rgb(var(--ui-monochrome-01-rgb))),
        color-stop(0.5, var(--ui-gold)));

    content: '';
    display: block;

    transform: translateY(12px);
    height: 1px;

    flex: 100;
  }

  & > span {
    display: flex;
    flex: auto;
    padding: 0 10px;
  }
}

#root {
  width: 100%;
}

@media screen and (max-width: 450px) {
  table {
    &.wide {
      width: 100%;
    }
  }
}


.input-field input,
.input-field textarea {
  -webkit-appearance: none;
  appearance: none;
  background-color: initial;
  border: none;
  border-radius: 0;
  box-sizing: inherit;
  color: inherit;
  font: inherit;
  font-size: 18px;
  margin: 0;
  outline: none;
  padding: 0;
  white-space: normal;

  width: 100%;
}

.input-field,
button,
.button {
  display: flex;
  align-items: center;
  justify-content: space-between;

  display: grid;
  grid-auto-flow: column;

  border: none;
  border-radius: 0.5em;

  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .2px;

  height: 38px;
  max-width: 250px;

  margin: 0;
  padding: 0 1rem;
  position: relative;
  text-align: unset;

  transition: opacity .25s, color .25s, background-color .25s, box-shadow .25s;

  -webkit-appearance: none;
  -webkit-user-select: none;
  user-select: none;

  background-color: #ffffff1a;
  color: #FFFc;

  &::before {
    content: " ";
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    z-index: 3;

    height: 100%;
    width: 100%;

    background-color: #fff0;
    box-shadow: inset 0 0 0 1px #fff0;
    transition: box-shadow .25s, background-color .25s;

    border-radius: 0.5em;
  }

  &::after {
    content: " ";
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    z-index: 3;

    box-shadow: 0 0 0 2px #fff0;

    transform: scale(1.021) translate3d(-2px, -2px, 0);
    transition: box-shadow .25s, transform .25s;

    height: calc(100% + 4px);
    width: calc(100% + 4px);

    border-radius: 0.5em;
  }

  &::active {
    border-radius: 0.5em;
    background-color: #FFF6;
    color: #FFF;
    z-index: 2;

    &::before {
      background-color: #FFF3;
      box-shadow: inset 0 0 0 1px var(--ui-gold);
    }

    &::after {
      box-shadow: 0 0 0 2px var(--ui-gold);
      transform: scale(1) translate3d(-2px, -2px, 0)
    }
  }

  &.disabled {
    background-color: #FFFFFF0D;
    color: #FFF6;

    cursor: default;
    pointer-events: none;
  }

  &.pokemon-icon {
    background-color: var(--ui-monochrome-04-hex);

    display: flex;
    align-items: center;
    justify-items: center;

    height: 40px;
    width: 40px;

    padding: 6px;

    & > img {
      height: 30px;
      width: 40px;
    }
  }
}

@media (hover: hover) {
  .input-field:hover,
  button:hover,
  .button:hover {
    background-color: rgba(var(--ui-monochrome-01-rgb), 0.2);
    color: #FFF;
    z-index: 2
  }

  .input-field:hover:before,
  button:hover:before,
  .button:hover:before {
    background-color: rgba(var(--ui-monochrome-06-rgb), 0.5);
    box-shadow: inset 0 0 0 1px var(--ui-gold);
  }

  .input-field:hover:after,
  button:hover:after,
  .button:hover:after {
    box-shadow: 0 0 0 2px var(--ui-gold);
    transform: scale(1) translate3d(-2px, -2px, 0)
  }
}
