@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");

:root {
  --ui-monochrome-01: #16161C;
  --ui-monochrome-02: #1A1C23;
  --ui-monochrome-03: #1C1E26;
  --ui-monochrome-04: #232530;
  --ui-monochrome-05: #2E303E;
  --ui-monochrome-06: #6C6F93;

  --ui-dark-pink: #E9436F;
  --ui-light-pink: #E95379;
  --ui-red: #F43E5C;
  --ui-light-green: #09F7A0;
  --ui-dark-green: #27D796;
  --ui-blue: #21BFC2;
  --ui-gold: #FAB28E;

  --syntax-purple: #B877DB;
  --syntax-blue: #25B2BC;
  --syntax-red: #E95678;
  --syntax-orange: #F09383;
  --syntax-gold: #FAB795;
  --syntax-yellow: #FAC29A;

  --syntax-grey: #D3D3D3;
  --syntax-white: #fffc;
  --syntax-black: #000c;
}

html {
  font-family: "Nunito", Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--syntax-white);
  background-color: var(--ui-monochrome-01);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: #646cff;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

a {
  font-weight: 500;
  color: #E95678;
  text-decoration: inherit;

  &:hover {
    color: #F43E5C;
  }
}

input {
  &[type='text'] {
    font-family: "Nunito";
    font-size: 1em;
    border-radius: 6px;
    padding: 3px;

    background-color: #232530;
    border: 1px solid #FAB28E;
  }
}

.separator {
  display: flex;

  &::before {
    background-color: #FAB795;
    background-image: linear-gradient(left, #2E303E 2%, #FAB795 50%);
    background-image: -o-linear-gradient(left,
        #2E303E 2%,
        #FAB795 50%);
    background-image: -moz-linear-gradient(left,
        #2E303E 2%,
        #FAB795 50%);
    background-image: -webkit-linear-gradient(left,
        #2E303E 2%,
        #FAB795 50%);
    background-image: -ms-linear-gradient(left,
        #2E303E 2%,
        #FAB795 50%);
    background-image: -webkit-gradient(linear,
        left bottom,
        right bottom,
        color-stop(0.02, #2E303E),
        color-stop(0.5, #FAB795));

    content: '';
    display: block;

    transform: translateY(12px);

    height: 1px;

    min-width: 60px;
    width: 60px;
    flex: 60px;
  }

  &::after {
    background-color: #FAB795;
    background-image: linear-gradient(right, #2E303E 2%, #FAB795 50%);
    background-image: -o-linear-gradient(right,
        #2E303E 2%,
        #FAB795 50%);
    background-image: -moz-linear-gradient(right,
        #2E303E 2%,
        #FAB795 50%);
    background-image: -webkit-linear-gradient(right,
        #2E303E 2%,
        #FAB795 50%);
    background-image: -ms-linear-gradient(right,
        #2E303E 2%,
        #FAB795 50%);
    background-image: -webkit-gradient(linear,
        right bottom,
        left bottom,
        color-stop(0.02, #2E303E),
        color-stop(0.5, #FAB795));

    content: '';
    display: block;

    transform: translateY(12px);
    height: 1px;

    flex: 100;
  }

  & > span {
    display: flex;
    flex: auto;
    padding: 0 10px;
  }
}

#root {
  width: 100%;
}
