.pokedex-icon {
  background-color: #232530;
  backdrop-filter: blur(2px) saturate(100%);
  border: 1px solid #FAB28E;
  border-radius: 0.5em;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 50px;
  width: 50px;
}

.pokedex-icon:hover {
  background-color: #6C6F93;
  cursor: pointer;
}
