.card {
  background-color: #232530;
  border: 1px solid #FAB795;

  border-radius: 0.5em;
  width: 20em;

  transition: all 150ms ease-in-out;

  &.grassland {
    background-image: url('/backgrounds/grasslands.png');
    background-position: center;
  }

  &.gradient {
    border-left: 4px solid #FAB795;
    padding: 0.5em 0;
  }

  &.gradient:hover {
    border-left: 4px solid #E95379;
  }

  &.group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;

    &.column {
      flex-direction: column;
    }
  }
}

