footer {
  background-color: #232530;
  box-shadow: rgb(250, 183, 149, 0.50) 0px 0px 10px;

  margin-top: auto;

  & > .footer_container {
    display: flex;
    flex-direction: row;
    align-items: center;

    max-width: min(1000px, 100%);
    margin: 0 auto;
    padding: 0.5em;

    & > .social-links {
      display: flex;
      align-items: center;

      margin: 0 1em 0 auto;

      & > a {
        color: #FAB795;

        font-size: 2.5em;
        transition: all 100ms ease-in-out;

        &:hover {
          color: #F09383;
        }
      }
    }
  }
}
