.user_bar {
  background-color: rgb(var(--ui-monochrome-04-rgb));

  height: 56px;
  max-height: 56px;
  width: 100%;

  position: sticky;
  top: 0;
  z-index: 1000000;

  &::after {
    align-items: center;
    animation: animation-wave-x 10s linear infinite reverse;
    background-repeat: no-repeat;
    background: linear-gradient(90deg, #fff0 70%, #fff6 95%, #fff0);
    background-size: 500% 500%;
    content: " ";
    height: 1px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  & > .user_bar_container {
    display: flex;
    flex-direction: row;

    max-width: min(1000px, 100%);
    margin: 0 auto;

    & > nav {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      flex-shrink: 1;

      height: 56px;
      max-height: 56px;

      margin: 0 1em;

      & > ul {
        display: flex;
        align-items: center;

        list-style: none;
        overflow-y: hidden;

        height: 56px;
        max-height: 56px;

        margin: 0;
        padding: 0;

        & > li {
          &.active {
            & > .nav-item {
              border-color: #FAB28E;
              color: var(--syntax-gold);
            }
          }

          &:not(.active) {
            & > .nav-item {
              border-color: transparent;
              color: var(--syntax-grey);
            }
          }

          & > .nav-item {
            color: #FAB28E;

            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5em;

            border-bottom: 2px solid transparent;

            padding: 1em;

            transition: all 150ms ease-in-out;

            &:hover {
              border-color: #F09383;
              color: #F09383;

              cursor: pointer;
            }

            & > span {
              display: flex;
            }
          }
        }
      }
    }

  }
}
