.dropdown {
  box-shadow: rgb(250, 183, 149, 0.50) 0px 0px 4px;
  background: #232530;

  border-radius: 0.5em;

  top: calc(134px + 1.5em);
  width: 200px;

  position: absolute;
  z-index: 2;
}

.dropdown.hidden {
  display: none;
}

.dropdown > div {
  text-align: center;
}

.dropdown > div > a {
  display: block;
  padding: 0.5em;

  color: #FAB28E;
}

.dropdown > div > a:hover {
  background: #1C1E26;
}

.dropdown > div:first-child:not(:last-child) > a,
.dropdown > div:first-child:not(:last-child) > a:hover {
  border-radius: 0.5em 0.5em 0 0;
}

.dropdown > div:last-child:not(:first-child) > a,
.dropdown > div:last-child:not(:first-child) > a:hover {
  border-radius: 0 0 0.5em 0.5em;
}
