.dropdown {
  background: rgba(var(--ui-monochrome-04-rgb));

  border-radius: 0 0 0.5em 0.5em;

  display: flex;
  flex-direction: column !important;

  top: calc(30px + 1.5em);
  width: 200px;

  position: absolute;
  z-index: 2;

  &.hidden {
    display: none;
  }

  & > div {
    text-align: center;
    width: 100%;

    & > a {
      border-bottom: none;
      display: block;
      padding: 0.5em;

      color: var(--ui-gold);

      &:hover {
        background: rgb(var(--ui-monochrome-02-rgb));
      }
    }

    &:last-child:not(:first-child) > a,
    &:last-child:not(:first-child) > a:hover {
      border-radius: 0 0 0.5em 0.5em;
    }
  }
}
