.dropdown {
  background: var(--ui-monochrome-04);

  border-radius: 0 0 0.5em 0.5em;

  top: calc(30px + 1.5em);
  width: 200px;

  position: absolute;
  z-index: 2;

  &.hidden {
    display: none;
  }

  & > div {
    text-align: center;

    & > a {
      border-bottom: none;
      display: block;
      padding: 0.5em;

      color: var(--ui-gold);

      &:hover {
        background: var(--ui-monochrome-02);
      }
    }

    &:last-child:not(:first-child) > a,
    &:last-child:not(:first-child) > a:hover {
      border-radius: 0 0 0.5em 0.5em;
    }
  }
}
