hr {
  background-color: #20c997;
  background-image: linear-gradient(left, #1A1B1E 2%, #20c997 50%, #1A1B1E 98%);
  background-image: -o-linear-gradient(left, #1A1B1E 2%, #20c997 50%, #1A1B1E 98%);
  background-image: -moz-linear-gradient(left, #1A1B1E 2%, #20c997 50%, #1A1B1E 98%);
  background-image: -webkit-linear-gradient(left, #1A1B1E 2%, #20c997 50%, #1A1B1E 98%);
  background-image: -ms-linear-gradient(left, #1A1B1E 2%, #E6E6E6 50%, #1A1B1E 98%);
  background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0.02, #1A1B1E), color-stop(0.5, #20c997), color-stop(0.98, #1A1B1E));

  border: none;

  height: 1px;
  width: 100%;
  margin: 0.5em;
}

.App {
  background-color: #1A1B1E;
  color: #d9d9d9;

  display: flex;
  flex-direction: row;
  height: 100vh;
  text-align: center;
}

.page {
  float: right;
  overflow: auto;

  display: flex;
  flex-direction: column;
  gap: 1em;

  padding: 1em 0;

  height: calc(100vh - 2em);
  width: calc(100% - 300px);
}

.page section {
  padding: 1em;
}

.page .card-container {
  width: 48%;
}

@media screen and (max-width: 1000px) {
  .page .card-container {
    width: 100%;
  }

  .page .card-container .mantine-Paper-root {
    display: flex;
    flex-direction: row;

    padding: 0px;
  }

  .page .card-container .mantine-Card-cardSection {
    width: 160px;
  }

  .page .card-container .mantine-Group-root {
    gap: 0px;
    margin-left: 20px;
    padding: 6px;
    width: calc(100% - 140px);
  }

  .page .card-container {}

  .page .card-container {}
}
